@model Web.Models.ModelDataTable<CoreLibrary.Models.EFModels.Marker>

@{
    ViewData["Title"] = "Таблица данных о местоположении";
    Layout = "Layout/_LayoutUserAuth";
    ViewData["Active_LocationTableData_Link"] = "active";
}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Таблица данных</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">@ViewData["Title"]</p>
        </div>
        @* <div class="card-body"> *@
        @*     <form asp-action="MarkerTableData"> *@
        @*         <div class="row"> *@
        @*             <div class="col-md-6 text-nowrap"> *@
        @*                 <div class="row"> *@
        @*                     <div class="col-md-6 text-nowrap"> *@
        @*                         <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"> *@
        @*                             <label class="form-label"> *@
        @*                                 Показать&nbsp; *@
        @*                             </label> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                     <div class="col-md-6 text-nowrap"> *@
        @*                         <select class="d-inline-block form-select form-select-sm" asp-for="Take"> *@
        @*                             @for (var i = 0; i < Model.Models.Count; i += 10) *@
        @*                             { *@
        @*                                 <option value="@i">@i</option> *@
        @*                             } *@
        @*                         </select>&nbsp; *@
        @*                     </div> *@
        @*                 </div> *@
        @*                 <div class="row"> *@
        @*                     <div class="col-md-6 text-nowrap"> *@
        @*                         <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"> *@
        @*                             <label class="form-label"> *@
        @*                                 Пропустить&nbsp; *@
        @*                             </label> *@
        @*                         </div> *@
        @*                     </div> *@
        @*                     <div class="col-md-6 text-nowrap"> *@
        @*                         <select class="d-inline-block form-select form-select-sm" asp-for="Skip"> *@
        @*                             @for (var i = 0; i < Model.Models.Count; i += 10) *@
        @*                             { *@
        @*                                 <option value="@i">@i</option> *@
        @*                             } *@
        @*                         </select>&nbsp; *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*             <div class="col-md-6"> *@
        @*                 <div class="row"> *@
        @*                     <div class="text-md-end dataTables_filter" id="dataTable_filter"> *@
        @*                         <label class="form-label" style="width: inherit;"> *@
        @*                             <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" asp-for="Search"> *@
        @*                         </label> *@
        @*                     </div> *@
        @*                 </div> *@
        @*                 <div class="row"> *@
        @*                     <button class="btn btn-primary d-block btn-user w-100" type="submit" value="UserTableData">Применить фильтры</button> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*         <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info"> *@
        @*             <table class="table my-0"> *@
        @*                 <thead> *@
        @*                 <tr> *@
        @*                     <th> *@
        @*                         Долгота *@
        @*                     </th> *@
        @*                     <th> *@
        @*                         Широта *@
        @*                     </th> *@
        @*                     <th> *@
        @*                         Наименование привязанного объекта *@
        @*                     </th> *@
        @*                     <th> *@
        @*                     </th> *@
        @*                 </tr> *@
        @*                 </thead> *@
        @*                 <tbody> *@
        @*                 @if (Model.Models.Count == 0) *@
        @*                 { *@
        @*                     <tr> *@
        @*                         <td> *@
        @*                             <a asp-action="Create">Создать</a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                 } *@
        @*                 @foreach (var item in Model.Models) *@
        @*                 { *@
        @*                     <tr> *@
        @*                         <td> *@
        @*                             @Html.DisplayFor(modelItem => item.Latitude) *@
        @*                         </td> *@
        @*                         <td> *@
        @*                             @Html.DisplayFor(modelItem => item.Longitude) *@
        @*                         </td> *@
        @*                         <td> *@
        @*                             <a asp-action="Edit" asp-route-id="@item.IdMarker">Редактировать</a> | *@
        @*                             <a asp-action="Delete" asp-route-id="@item.IdMarker">Удалить</a> | *@
        @*                             <a asp-action="Create">Создать</a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                 } *@
        @*                 </tbody> *@
        @*             </table> *@
        @*         </div> *@
        @*         <div class="row"> *@
        @*             <div class="col-md-6 align-self-center"> *@
        @*                 <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Показатели с @(Model.Skip+1) по @Model.Take из @Model.Models.Count</p> *@
        @*             </div> *@
        @*         </div> *@
        @*     </form> *@
        @* </div> *@
    </div>
</div>